$primary: #F0F4F9;
$secondary: #014D69;
$third: #F3AE5F;
$quant: #0B87BA;
$five: #D38F5E;

.footer__container {
    display: flex;
    background-color: $quant;
    justify-content: space-around;
    height: 50vh;
    h2 {
        margin-top: 100px;
        background-color: $quant;
        font-size: 20px;
        a {
            background-color: $quant;
        }
    }
}